/* Basic scaffholding */

body{
	font-family: "proxima-nova-soft", sans-serif;
	margin: 0;
	background-color: #484554;
	color: #F7F6E2;
	line-height: 1.2;
}

*{
	box-sizing: border-box;
}

section{
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

h2{
	font-size: 25px;
	text-align: center;
}

ul{
	padding-left: 18px;
}

a{ text-decoration: none;}
a:hover{ text-decoration: underline;}
a:focus{ outline: none; }

/* Header */
.header-bar{
	width: 100%;
	height: 80px;
	overflow: hidden;
	padding: 20px;
	background-color: rgba(255,255,255,0.1);
}
.header-bar nav{
	float: right;
}

.header-bar nav a{
	color: white;
	text-decoration: none;
	line-height: 40px;
	margin-left: 40px;
}


.hero{
	max-width: 495px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.hero h1{
	font-size: 45px;
	font-weight: 200;
	margin-bottom: 0;
	margin-top: 80px;
}

.hero h2{
	font-size: 36px;
	margin-top: 5px;
	font-weight: 200;
	margin-bottom: 80px;
}

.hero p{
	font-size: 21px;
	font-weight: 300;
	/*padding-left: 50px;
	padding-right: 50px;*/
	margin-bottom: 80px;
}

.hero hr{
	border: none;
	height: 1px;
	background-color: rgba(255,255,255,0.2);
	margin: 0;
}

.slash{
	width: 100%;
	height: 100px;
	margin-top: -5px;
	margin-bottom: -5px;
}



/* Projects */
.creme-bg{
	background-color: #F7F6E2;
}

.creme-bg h2{
	color: #499CDB;
}

#inline-popups{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
}

#inline-popups a{
	width: calc(50% - 4px);
	margin: 2px;
	text-decoration: none;
	background-color: #6792CD;
	height: 320px;
	overflow: auto;
	background-size: 100%;
	background-position: center;
	display: flex;
	transition: ease all 0.5s;
}

#inline-popups a:hover{
	background-size: 110%;
}

#inline-popups a li{
	text-align: center;
	margin: auto;
	padding: 20px;
}

#inline-popups a li h2{
	font-size: 30px;
	font-weight: 600;
	color: white;
}

#inline-popups a li p{
	font-size: 25px;
	color: white;
}

#inline-popups .free-store{ background-image: url("../img/folio/free-store.jpg"); }
#inline-popups .third-itteration{ background-image: url("../img/folio/co-lab.jpg"); }
#inline-popups .rocket-reach{ background-image: url("../img/folio/rocket.jpg"); }
#inline-popups .mindfull{ background-image: url("../img/folio/mindful.jpg"); }
#inline-popups .flan{ background-image: url("../img/folio/flan.jpg"); }

.more-projects{
	text-align: center;
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.more-projects a{
	color: #666666;
}


/* cv */

.blue-bg{
	background-color: #499CDB;
}

.cv{
	padding-bottom: 100px;
}

.half{
	width: 50%;
	float: left;
	padding-top: 20px;
}

.half h2{
	text-align: left;
}

.br{
	border-right: 2px solid white;
	overflow: hidden;
}

.pr{
	padding-right: 20px;
	overflow: hidden;
}

.pl{
	padding-left: 20px;
	overflow: hidden;
}

hr{
	border: none;
	height: 2px;
	background-color: white;
	width: 100%;
	margin: 0;
}

.third{
	width: 33.33%;
	float: left;
	text-align: center;
}

.third img{
	max-width: 100%;
	padding: 3px;
}

.two-thirds{
	width: 66.66%;
	float: left;
	text-align: center;
}


/* Footer */

.purple-bg{
	position: relative;
	overflow: hidden;
}

.purple-bg:before
{
    content: "";
    position: absolute;
    width: 400%;
    height: 400%;
    top: -150%;
    left: -150%;
    z-index: -1;
    background: url("../img/folio/pattern4.png") 0 0 repeat;
   

    /*-webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);*/

    -webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-animation:spin 150s linear infinite;
    -moz-animation:spin 150s linear infinite;
    animation:spin 150s linear infinite;
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



.contact{
	padding-top: 100px;
	padding-bottom: 100px;
}

.contact-shadow{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px;
}

.thin{
	font-weight: 400;
}

.thin a{
	color: #F7F6E2;
}


/* Magnificient popup styling */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 1000px;
  margin: 0 auto; 
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
  color: black
}

.white-popup img{
	width: 100%;
}


video {
  width: 100%    !important;
  height: auto   !important;
}







@media all and (max-width: 800px) {
  	#inline-popups a{
		width: 100%;
	}	

	.half{
		width: 100%;	
	}

	.half .pr{
		padding-right: 0;
		border-right: none;
	}

	.cv{
		padding-left: 10px;
		padding-right: 10px;
	}

	.slash{
		height: 50px;
	}

	.header-bar{
		height: auto;
	}

	nav{
		display: flex;
	    flex-wrap: wrap;
	    justify-content: flex-start;
	}

	nav a{
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
}
